.react-photo-cropper{
  box-sizing: content-box !important;
  .cropper{
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    &:hover{
      border: 1px dashed black;
    }
    &-label{
      display: block;
      text-align: center;
      padding: 20px;
      cursor: pointer;
      &-icon{
        display: block;
        width: fit-content;
        margin: 10px auto;
      }
      &-input{
        display: none;
      }
    }
  }
  &-dialog{
    width: fit-content !important;
    user-select:none;
    &-content{
      position: relative;
      overflow: hidden;
      .cropper-box{
        &-img{
          border: 2px solid transparent;
        }
        &-cutter{
          outline-style: outset;
          outline-width: 10000px;
          outline-color: rgba(0,0,0,0.6);
          cursor: cell;
          position: absolute;
          border: 2px dashed blueviolet;
          &-content{
            width: 100%;
            height: 100%;
            cursor: move;
          }
        }
      }
    }
  }
}